* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 5px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  padding: 10px;
  margin: 10px;
  background: #e3f4ff;
}

.content {
  padding: 10px;
  margin: 10px;
  background: #e3f4ff;
}

.button-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #e3f4ff;
}

button {
  display: block;
  width: 150px;
  text-align: center;
  padding: 3px;
  margin: auto;
  background: white;
  border: 1px solid #eee;
}